##############################
## Folders                  ##
##############################
bin
obj
/.vs/*
/packages/*
 
##############################
## Netbeans conf            ##
##############################
