<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Titanfall2_SkinTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Titanfall2_SkinTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<publisherPolicy apply="yes"/>
			<probing privatePath="lib"/>
		</assemblyBinding>
	</runtime>
    <userSettings>
        <Titanfall2_SkinTool.Properties.Settings>
            <setting name="Language" serializeAs="String">
                <value/>
            </setting>
            <setting name="GamePath" serializeAs="String">
                <value/>
            </setting>
            <setting name="AutoUpdate" serializeAs="String">
                <value>True</value>
            </setting>
        </Titanfall2_SkinTool.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Titanfall2_SkinTool.Properties.Settings>
            <setting name="Version" serializeAs="String">
                <value>v0.5.2</value>
            </setting>
        </Titanfall2_SkinTool.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
